{% extends "base.html" %}
{% block title %} 
Main page
{% endblock %}

{% block content %} 
{% for post in posts %}
<br>
<div class="post">
	<div class="post_title">
		<a href="{{post.key().id()}}" id="subject">{{post.subject}}</a>
		<div id="date">{{post.created.strftime('%d-%m-%Y')}}</div>
		<div id="username">by {{post.user.Name}}</div>
	</div>
	<div>Total Likes: {{post.plikes}}</div>
	<br>
	<div class="buttons">
		<form action="/like" method="post">
			<input id="like" type="submit" value="Like">
			<input type="hidden" name="postid" value="{{post.key().id()}}">
		</form>
		.
		<form action="/{{edit_url}}" method="get">
			<input id="edit" type="submit" value="edit">
			<input type="hidden" name="postid" value="{{post.key().id()}}">
		</form>
		.
		<form action="/{{delete_url}}" method="get">
			<input id="delete" type="submit" value="delete post">
			<input type="hidden" name="postid" value="{{post.key().id()}}">
		</form>

	</div>
	<pre class="post_body">{{post.content}}</pre>
	<form action="/{{comment_url}}" method="post">
		<input type="text" name="comment">
		<input type="submit" name="submit" value="submit comment">
		<input type="hidden" name="postid" value="{{post.key().id()}}">
	</form>
	{% for c in post.post_comments%}
		<div class="comment">{{c.user.Name}} : {{c.content}} 
		<a href="editcomment/{{c.key().id()}}">edit</a>
		</div>
		<form action="/{{dcomment_url}}" method="post">
			<input id="deletec" type="submit" value="delete comment">
			<input type="hidden" name="commentid" value="{{c.key().id()}}">
		</form>
	{% endfor %}
	<br>
	<hr>
</div>
{% endfor %}

{% endblock %}